.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('notFound.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.8;
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 2rem;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #9082e0; /* Light purple */
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 1.5rem;
    color: #d1d5db; /* Light grey */
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.additionalText {
    font-size: 1.25rem;
    color: #9ca3af; /* Darker grey */
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
    display: inline-block;
    background-color: #5546a7; /* Dark purple */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #4c33d8; /* Darker purple on hover */
}